spring:
  config:
    import: secret.yml
  application:
    name: foot-off-api
    version: 1.0.0
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect