spring:
  config:
    import: secret.yml
  application:
    name: api
  jpa:
    hibernate:
#      개발하고 있을 때만 update 처리
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect